// Icon
IDI_ICON1 ICON "app.ico"

// Version info - 不使用 #include <windows.h>（Linux 上交叉编译没有 Windows SDK）
1 VERSIONINFO
FILEVERSION     0,2,16,0
PRODUCTVERSION  0,2,16,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L  // VOS_NT_WINDOWS32
FILETYPE        0x1L      // VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName",      "Ding Jiazhi"
            VALUE "FileDescription",  "modbusrtu_broker - Modbus RTU Gateway | github.com/dingjiazhi/one-modbus/releases | gitee.com/dingjiazhi/one-modbus/releases"
            VALUE "FileVersion",      "0.2.17.0"
            VALUE "InternalName",     "modbusrtu_broker"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Ding Jiazhi"
            VALUE "OriginalFilename", "modbusrtu_broker.exe"
            VALUE "ProductName",      "one-modbus"
            VALUE "ProductVersion",   "0.2.17.0"
            VALUE "Comments",         "Get updates: github.com/dingjiazhi/one-modbus/releases | gitee.com/dingjiazhi/one-modbus/releases"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
